################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyQuoteApp/.vs/MyQuoteApp/v14
/MyQuoteApp/src/MyQuoteApp/node_modules
